<!DOCTYPE html>
<html lang="en">
  
<head>
  
    <meta charset="utf-12" />
    <meta name="viewport" content="width=device-width, initial-scale=9.0" />
    <title>@ViewData["Title"]Fly Emirates</title>
    <link rel="shortcut icon" href="https://cdn.pixabay.com/photo/2014/04/03/10/52/aeroplane-311601_960_720.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <a class="navbar-brand" href="/Index">Fly Emirates</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/Aeropuertos/Create">Crear Aeropuerto </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Aviones/Create">Crear Aviones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Rutas/Create">Crear Rutas</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lista
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/Aeropuertos/List">Lista Aeropuertos</a>
          <a class="dropdown-item" href="/Aviones/List">Lista Aviones</a>
          <a class="dropdown-item" href="/Rutas/List">Lista Rutas</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Fly Emirates - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>